<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rkshop.dao.NewsMapper">
	
	<resultMap id="BaseResultMap" type="com.rkshop.entity.News">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="news_title" jdbcType="VARCHAR" property="newsTitle" />
		<result column="news_img" jdbcType="VARCHAR" property="newsImg" />
		<result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
		<result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
		<result column="count_click" jdbcType="INTEGER" property="countClick" />
		<result column="comment_count" jdbcType="INTEGER" property="commentCount" />
		<result column="is_show" jdbcType="INTEGER" property="isShow" />
		<result column="catalog_id" jdbcType="INTEGER" property="catalogId" />
		<result column="description" jdbcType="LONGVARCHAR" property="description" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, news_title, news_img, sub_title, add_time, count_click,
		comment_count, is_show, catalog_id, description
	</sql>
	
	<select id="select" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from news
		<where>
			1=1
			<if test="id != null">
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="newsTitle != null">
				and news_title like #{newsTitle,jdbcType=VARCHAR}
			</if>
			<if test="newsImg != null">
				and news_img = #{newsImg,jdbcType=VARCHAR}
			</if>
			<if test="subTitle != null">
				and sub_title = #{subTitle,jdbcType=VARCHAR}
			</if>
			<if test="addTime != null">
				and add_time = #{addTime,jdbcType=TIMESTAMP}
			</if>
			<if test="countClick != null">
				and count_click = #{countClick,jdbcType=INTEGER}
			</if>
			<if test="commentCount != null">
				and comment_count = #{commentCount,jdbcType=INTEGER}
			</if>
			<if test="isShow != null">
				and is_show = #{isShow,jdbcType=INTEGER}
			</if>
			<if test="catalogId != null">
				and catalog_id = #{catalogId,jdbcType=INTEGER}
			</if>
			<if test="description != null">
				and description = #{description,jdbcType=LONGVARCHAR}
			</if>
		</where> 
	</select>
	
	<insert id="insert" parameterType="com.rkshop.entity.News">
		insert into news
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="newsTitle != null">
				news_title,
			</if>
			<if test="newsImg != null">
				news_img,
			</if>
			<if test="subTitle != null">
				sub_title,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="countClick != null">
				count_click,
			</if>
			<if test="commentCount != null">
				comment_count,
			</if>
			<if test="isShow != null">
				is_show,
			</if>
			<if test="catalogId != null">
				catalog_id,
			</if>
			<if test="description != null">
				description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="newsTitle != null">
				#{newsTitle,jdbcType=VARCHAR},
			</if>
			<if test="newsImg != null">
				#{newsImg,jdbcType=VARCHAR},
			</if>
			<if test="subTitle != null">
				#{subTitle,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="countClick != null">
				#{countClick,jdbcType=INTEGER},
			</if>
			<if test="commentCount != null">
				#{commentCount,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				#{isShow,jdbcType=INTEGER},
			</if>
			<if test="catalogId != null">
				#{catalogId,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				#{description,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="update" parameterType="com.rkshop.entity.News">
		update news
		<set>
			<if test="newsTitle != null">
				news_title = #{newsTitle,jdbcType=VARCHAR},
			</if>
			<if test="newsImg != null">
				news_img = #{newsImg,jdbcType=VARCHAR},
			</if>
			<if test="subTitle != null">
				sub_title = #{subTitle,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="countClick != null">
				count_click = #{countClick,jdbcType=INTEGER},
			</if>
			<if test="commentCount != null">
				comment_count = #{commentCount,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				is_show = #{isShow,jdbcType=INTEGER},
			</if>
			<if test="catalogId != null">
				catalog_id = #{catalogId,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from news
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
</mapper>